@charset "utf-8";
@import '../scss/common';
@import '../scss/variable';

.edit-list {
  width: 1000px;
  margin: 0 auto;

  &-form {
    color: $gray;
  }

  &-title {
    width: 300px;
    margin-bottom: 25px;
  }
}

.delete-list-button {
  color: $red;
  border: solid 1px $red;
  margin: 25px 5px;
  @include middle-button;
}

.edit-list-button {
  background-color: $darkBlue;
  color: $white;
  @include middle-button;
}

.error-message {
  color: $red;
}
