@charset "utf-8";

.edit-list {
  width: 1000px;
  margin: 0 auto;

  &-form {
    color: #555555;
  }

  &-title {
    width: 300px;
    margin-bottom: 25px;
  }
}

@mixin list-button {
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.delete-list-button {
  color: #ff3333;
  border: solid 1px #ff3333;
  margin: 25px 5px;
  @include list-button;
}

.edit-list-button {
  background-color: #242f9b;
  color: #ffffff;
  @include list-button;
}

.error-message {
  color: #ff3333;
}
