@charset "utf-8";
@import '../scss/common';
@import '../scss/variable';
@import '../scss/responsive';

.signup {
  width: 500px;
  margin: 0 auto;

  &-form {
    margin: 25px 0;
    color: $gray;
  }

  // タブレットに対応
  @media (max-width: 768px) {
    width: 80%;
    font-size: 0.9em;
  }

  // スマートフォンに対応
  @media (max-width: 320px) {
    width: 90%;
  }
}

.email-input,
.name-input,
.password-input {
  @include input-field;
}

.signup-button {
  background-color: $darkBlue;
  color: $white;
  @include large-button;

  // タブレットに対応
  @media (max-width: 768px) {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: 50px;
  }

  // スマートフォンに対応
  @media (max-width: 320px) {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 30px;
  }
}

.error-message {
  color: $red;

  // スマートフォンに対応
  @media (max-width: 320px) {
    font-size: 15px;
    font-weight: bold;
  }
}
